<div class="topbar">
  <div class="dispatcher-container">
    <ng-icon name="bootstrapPhone"></ng-icon>
    <span>Dispecerat (non-stop):&nbsp;</span>
    <a href="tel:+40238434380">+40 238.434.380</a>
  </div>
  <div class="socials-container">
    <a href="https://www.facebook.com/TFCRO/" aria-label="Facebook">
      <ng-icon name="bootstrapFacebook"></ng-icon>
    </a>
    <a
      href="https://www.instagram.com/transferoviarcalatori/"
      aria-label="Instagram"
    >
      <ng-icon name="bootstrapInstagram"></ng-icon>
    </a>
  </div>
</div>
