<article>
        <meta itemprop="inLanguage" content="ro-RO" />
        
        <div class="article-header">
          <h1 itemprop="headline">ELIBERAREA LEGITIMAȚIILOR DE CĂLĂTORIE</h1>
        </div>
        <div class="article-can-edit d-flex flex-wrap justify-content-between"></div>
        <div class="article-info">
        </div>
        
        <div itemprop="articleBody">
          <h3 style="text-align: justify">
            <span style="font-size: 14pt; font-family: arial, helvetica, sans-serif"
              >&nbsp;
              <span style="color: #000000"
                >&nbsp; Pentru călătoria cu trenurile de călători aparţinând S.C.
                Transferoviar Călători, legitimaţiile de călătorie se pot obţine :</span
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;<strong
                >a)
                <span style="text-decoration: underline"
                  >de la ghișeele caselor de bilete TFC</span
                ></strong
              >
              din staţiile de cale ferată: București Nord, Ploiești Sud, Buzău, Galați,
              Cluj Napoca, Titan Sud, Târgoviște, Oltenita.</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong
                >&nbsp; &nbsp; &nbsp;Termenul maxim de achiziționare cu anticipație este
                de 30 zile</strong
              >
              înainte de data efectuării călătoriei. La stabilirea termenului de
              anticipaţie se ia în calcul atât ziua curentă, cât şi ziua plecării
              trenului.</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp;
              <strong
                >&nbsp;Termenul minim de achiziționare de la casele de bilete este de 3
                - 5 minute</strong
              >
              (în funcție de locația casei de bilete) înainte de ora de plecare a
              trenului din stația respectivă.</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >Programul de lucru al caselor de bilete, se poate vizualiza,
              accesând:<span style="color: #3366ff"
                ><a href="/ro/pentru-calatori/puncte-achizitionare"
                  >&nbsp;https://transferoviarcalatori.ro/ro/pentru-calatori/puncte-achizitionare</a
                >&nbsp;</span
              ></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;Tipuri de legitimații emise: bilet întreg, bilet
              copil, bilete cu preț redus și gratuit (pentru beneficiarii de facilități
              pe calea ferată română) și anexe ale acestora( diferențe clasa, diferențe
              rang, tichete de rezervare), bilet câine, bilet bicicletă, recipisă de
              bagaje, abonament lunar(cu preț întreg și gratuit)și abonament
              săptămânal,bilet elev gratuit, bilet student (în baza Cardului Student
              prin care acestia își pot achiziționa online sau de la automatele de
              vânzare bilete cu reducere).</span
            >
          </h3>
          <p>
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp; &nbsp;<span style="color: #ff0000"
                >În stațiile cu case de bilete aflate în timpul orelor de funcționare,
                beneficiarii de reducere sau gratuitate la transport sunt obligați să
                își procure legitimațiile de călătorie cu reducere sau gratuitate
                conform legislației în vigoare de la casele de bilete. În caz contrar,
                în tren, beneficiarii de reducere sau gratuitate la transport care nu
                prezinta legitimație de călătorie valabilă și documentele în baza cărora
                a fost obținută legitimația de călătorie cu reducere sau gratuitate
                conform legislației în vigoare, vor fi considerați ca fiind fără
                legitimație de călătorie și vor suporta plata tarifelor de taxare în
                tren, altfel vor fi coborâți din tren la prima stație cu oprire
                itinerarică.</span
              ></span
            >
          </p>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp;<strong>
                &nbsp;b)
                <span style="text-decoration: underline"
                  >de la automatele de vânzare</span
                ></strong
              >
              legitimații de călătorie, amplasate în stațiile de cale ferată: București
              Nord, Ploiești Sud, Buzău, Cluj Napoca,
              <span class="bt-content">Aeroport H. Coandă (Otopeni)</span>.</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;Termenul maxim de achiziționare cu anticipație este
              de 30 zile înainte de data efectuării călătoriei. Termenul minim de
              achiziționare a legitimaţiilor de călătorie este de 10 minute înainte de
              ora de plecare a trenului din acea stație.</span
            ><br /><span style="font-family: arial, helvetica, sans-serif"
              ><span style="font-size: 14pt; color: #000000">&nbsp; &nbsp; </span
              ><span style="font-size: 14pt; color: #000000"
                >Tipuri de legitimații emise: bilet întreg, bilet copil, bilet gratuit
                elev și bilet gratuit/ 90% reducere student în baza CARD student,
                abonament lunar(cu preț întreg, gratuit pentru elevi și&nbsp;gratuit/
                90% reducere pentru studenți) și săptămânal.</span
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp;<strong
                >c)
                <span style="text-decoration: underline"
                  >prin canalul de distribuție online</span
                >&nbsp;</strong
              >(<a href="https://bilete.tfc-online.ro/ro-RO/Account/Login"
                ><span style="color: #3366ff"
                  >https://bilete.tfc-online.ro/ro-RO/Account/Login</span
                ></a
              >)</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp;
              <strong
                >&nbsp; &nbsp; Termenul maxim de achiziționare cu anticipație este de 30
                zile</strong
              >
              înainte de data efectuării călătoriei, iar
              <strong
                >termenul minim de achiziționare diferă in funcție de regimul de
                rezervare:</strong
              ></span
            >
          </h3>
          <h3>
            <span style="font-family: arial, helvetica, sans-serif"
              ><b
                >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;* Pentru trenurile cu
                regim de rezervare</b
              >,cumpararea biletelor TFC online se poate efectua pana cel mai tarziu
              cu&nbsp;<span style="color: red">o ora inainte</span>&nbsp;de ora de
              plecare a primului tren din ruta.</span
            ><br /><span style="font-family: arial, helvetica, sans-serif"
              ><b
                >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;* La trenurile fara
                regim de rezervare</b
              >&nbsp;a locurilor cumpararea biletelor se poate face pana cel mai tarziu
              cu&nbsp;<span style="color: red">15 minute inainte</span>&nbsp;de ora de
              plecare a primului tren din ruta.</span
            ><br /><span style="font-family: arial, helvetica, sans-serif"
              >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;* Cumpararea&nbsp;<b
                >abonamentelor TFC online</b
              >&nbsp;se poate efectua pana cel mai tarziu la ora&nbsp;<span
                style="color: red"
                >23.59</span
              >&nbsp;a zilei anterioare inceperii valabilitatii abonamentului.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; Tipuri de legitimații emise: bilet întreg, bilet copil,
              bilet gratuit elev, bilet gratuit / 90% reducere student în baza CARD
              Student,&nbsp;<span style="font-size: 18.6667px; text-align: justify"
                >abonament lunar(cu preț întreg, gratuit pentru elevi și gratuit/ 90%
                reducere pentru studenți) și săptămânal.</span
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp;
              <strong
                >&nbsp;d)<span style="text-decoration: underline">
                  din punctele de vânzare</span
                ></strong
              >
              unde se eliberează doar abonamente de călătorie, de către agenții
              autorizați de către S.C. Transferoviar Călători, în intervalele stabilite
              și afișate pentru vânzarea abonamentelor de călătorie. Termenul maxim de
              anticipație este de maxim 30 zile înainte de începerea valabilității
              abonamentului.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;Punctele de vânzare stabilite pentru eliberarea
              abonamentelor de călătorie se află pe secțiile neinteroperabile, în
              următoarele locații:</span
            ><br /><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >- secția Galați-Bârlad: în stația
              <strong>Târgu Bujor și Berești Hm</strong>.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif">&nbsp;</span>
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp;
              <strong
                >&nbsp;e)
                <span style="text-decoration: underline"
                  >de la personalul de tren</span
                ></strong
              >
              care deserveşte trenurile Transferoviar Călători, astfel:</span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong>&nbsp; &nbsp; &nbsp; &nbsp;e.1. la tarif de casă</strong> –
              tariful de transport la care se eliberează legitimaţii de călătorie când
              călătorii se urcă în tren din puncte de oprire ale trenurilor unde nu
              există case de bilete deschise sau programul caselor de bilete este
              suspendat(închis) temporar și solicită plata biletului imediat după
              urcare.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp; Tipuri de legitimații emise: bilet întreg, bilet
              copil, bilet câine, bilet bicicletă, recipisă de bagaje, bilete gratuite
              pentru beneficiarii de facilități pe calea ferată și anexe ale biletelor(
              diferențe clasa, diferențe rang, tichete de rezervare).</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong>&nbsp; &nbsp; &nbsp; e.2. la tarif de taxare în tren</strong>,
              dacă, indiferent din ce motive, călătorul(obișnuit sau beneficiar de
              facilitate) care urcă în tren dintr-o stație unde casa de bilete este
              deschisă, NU şi-a procurat legitimaţie de călătorie în condiţiile
              prezentate la lit. a, b, c, exceptând cazul de la punct e.1..</span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;
              <strong>Tariful de taxare în tren este superior tarifului de casă</strong>
              (cu 4,00 lei, în plus față de tariful preț întreg „ calculat pe călător”,
              corespunzător distanţei kilometrice, la rangul de tren și clasa comercială
              utilizată, la care se adaugă tariful de rezervare a locului, în cazul în
              care se dorește ocuparea unui loc.).Tipuri de legitimații emise: bilet
              taxare în tren.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;
              <strong
                >Tariful de taxare în tren se achită pentru distanța efectiv parcursă de
                călător</strong
              >, în cazul când acesta solicită eliberarea biletului imediat după urcarea
              în tren, în stațiile cu case de bilete deschise.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp; Călătorii (obișnuiți sau beneficiarii de facilități)
              care sunt găsiti în tren după prima revizie a legitimațiilor de călătorie,
              că s-au sustras de la plata contravalorii călătoriei, fără a solicita
              imediat după urcarea în tren eliberarea biletului(preț întreg/redus/
              gratuit) sunt obligați să plătească tariful de taxare în tren, pe întreaga
              distanță de circulație a trenului. Călătorii care refuză plata biletului
              vor fi excluși de la transport în prima stație din parcursul trenului,
              prevăzută sau nu cu oprire itinerarică.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp;<strong>
                &nbsp;În toate cazurile, la achiziționarea legitimațiilor de călătorie,
                călătorul trebuie să verifice pe loc, dacă aceasta corespunde cerințelor
                sale și dacă a primit restul corect. Orice sesizare primită ulterior nu
                va fi luată în considerare.</strong
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong
                >&nbsp; &nbsp; Legitimațiile de călătorie se pot achita, astfel:</strong
              ></span
            >
          </h3>
          <ul style="text-align: justify">
            <li>
              <h3>
                <span
                  style="
                    font-size: 14pt;
                    color: #000000;
                    font-family: arial, helvetica, sans-serif;
                  "
                  ><strong>&nbsp;cu numerar</strong>:</span
                >
              </h3>
            </li>
          </ul>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >• la toate casele de bilete;</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >• în tren;</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >• la punctele de vânzare deservite de agenți autorizați, prevăzute la
              punct d).</span
            >
          </h3>
          <ul style="text-align: justify">
            <li>
              <h3>
                <span
                  style="
                    font-size: 14pt;
                    color: #000000;
                    font-family: arial, helvetica, sans-serif;
                  "
                  >&nbsp;<strong>&nbsp;cu card bancar</strong>:</span
                >
              </h3>
            </li>
          </ul>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >• la casele de bilete din stațiile de cale ferată: București Nord,
              Ploiești Sud, Buzău, Galați, Cluj Napoca, Titan Sud, Târgoviște;</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >• prin canalele de distribuție: online și automate de vânzare;</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >•&nbsp;în tren.<br
            /></span>
          </h3>
          <ul style="text-align: justify">
            <li>
              <h3>
                <span
                  style="
                    font-size: 14pt;
                    color: #000000;
                    font-family: arial, helvetica, sans-serif;
                  "
                  ><strong>&nbsp;cu ordin de plată</strong>: doar pe bază de comandă
                  fermă, convenție sau contract. Comenzile pentru legitimațiile de
                  călătorie al căror tarif se achită cu Ordinul de plată vor fi
                  înaintate Serviciului C.M.R.P., în termenele și condițiile stabilite
                  de către S.C. Transferoviar Călători S.R.L.</span
                >
              </h3>
            </li>
          </ul>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; &nbsp;<strong
                >Termenele maxime de vânzare cu anticipaţie</strong
              >
              a legitimaţiilor de călătorie se pot modifica oricând dacă în condiţiile
              din exploatare se impune acest fapt. Modificarea se poate face pentru
              toate trenurile de călători sau punctual numai pentru anumite
              trenuri.</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; Modificarea termenelor maxime de vânzare cu anticipaţie va
              fi adusă la cunoştinţa publicului călător cu cel puţin 2 zile
              calendaristice înainte ca modificarea să-şi producă efectul, atât pe
              site-ul oficial al societății, cât şi prin afişare în trenuri și la
              punctele de emitere a legitimaţiilor de călătorie.</span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >&nbsp; &nbsp; În caz de forţă majoră modificarea termenelor maxime de
              vânzare cu anticipaţie se poate face fără preaviz cu notificarea pe
              site-ul oficial al societății.</span
            >
          </h3>
          <h3 style="margin-bottom: 0.0001pt; text-align: center; line-height: normal">
            <span style="font-family: arial, helvetica, sans-serif">&nbsp;</span>
          </h3>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif">&nbsp;</span
            ><span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              ><em
                >Studenții, în baza adeverinței eliberate de instituția de învățământ
                superior, nu își pot achiziționa bilete&nbsp;</em
              ><em>prin sistem</em><em>&nbsp;on-line</em><em>&nbsp;sau&nbsp;</em
              ><em>de la automatele de vânzare TFC</em>, deoarece aceste adeverințe au
              diferite date de valabilitate, majoritatea nefiind eliberate pentru tot
              anul universitar în curs. Acești beneficiari își pot achiziționa
              legitimații de călătorie gratuite sau cu 90% reducere doar de la casele de
              bilete sau din tren, după caz, conform reglementărilor proprii TFC.</span
            >
          </h3>
          <h3 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >Pentru a putea beneficia de serviciile de achiziționare, în
              regim&nbsp;<em>self service,</em>&nbsp;prin internet și automate de
              vânzare bilete TFC, studentul trebuie să se prezinte mai întâi la una din
              casele de bilete TFC, pentru obținerea unei legitimații de autentificare
              și identificare a utilizatorului în sistemele de emitere legitimații de
              călătorie, denumită&nbsp;&nbsp;“<strong
                ><em>CARD Student TFC”,&nbsp;</em></strong
              >în baza căreia va putea achiziționa ulterior bilete.</span
            >
          </h3>
          <h3 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              ><strong
                ><em
                  >Legitimația de autentificare și identificare a utilizatorului</em
                ></strong
              ><strong><em>&nbsp;este valabilă pe an universitar.&nbsp;</em></strong
              >După începerea anului universitar următor, studentul trebuie
              să-și&nbsp;prelungeasca valabilitatea pentru “<strong
                >CARD&nbsp;Student TFC</strong
              >”.</span
            >
          </h3>
          <h3 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal">
            <span style="font-size: 14pt; font-family: arial, helvetica, sans-serif"
              >Această&nbsp;<strong
                ><em
                  >legitimație de autentificare și identificare a utilizatorului</em
                ></strong
              >&nbsp;având calitatea de student este&nbsp;<strong
                >nominală, netransmisibilă&nbsp;</strong
              >și&nbsp;<strong>NU este o legitimație de călătorie</strong>. Ea poate fi
              utilizată doar pentru achiziționarea biletelor de călătorie.</span
            >
          </h3>
          <h3 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >Pentru emiterea unei&nbsp;<strong><em>legitimații&nbsp;</em></strong
              ><strong><em>de autentificare și identificare&nbsp;</em></strong
              >“<em><strong>CARD</strong></em
              ><strong><em>&nbsp;Student TFC”&nbsp;</em></strong
              >studentul trebuie să prezinte la casa de bilete următoarele
              documente:</span
            >
          </h3>
          <ul>
            <li>
              <h3>
                <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
                  >legitimaţia de student pentru reducere/gratuitate la transport<strong
                    >,&nbsp;vizată la zi pentru anul universitar în curs&nbsp;</strong
                  >și un act de identitate&nbsp;(carte de identitate sau
                  paşaport).</span
                >
              </h3>
            </li>
          </ul>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >După obținerea&nbsp;“<em><strong>CARD</strong></em
              ><strong><em>&nbsp;Student TFC”, &nbsp;</em></strong
              >studentul își poate achiziționa legitimație de
              călătorie<em>&nbsp;</em>gratuită / 90% reducere prin
              sistem&nbsp;on-line&nbsp;și&nbsp;de la automatele de vânzare TFC, prin
              introducerea în câmpurile dedicate a următoarelor date de
              identificare:</span
            >
          </h3>
          <ul>
            <li>
              <h3>
                <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
                  ><strong>Numărul</strong>&nbsp;înscris la
                  rubrica<strong>&nbsp;„Id.</strong>” &nbsp;de pe legitimația de
                  autentificare și identificare a utilizatorului&nbsp;“ID Student
                  TFC”.</span
                >
              </h3>
            </li>
          </ul>
          <h3 style="margin-left: 30px; text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >&nbsp;<strong><em>Exemplu</em></strong
              ><strong><em>:&nbsp;&nbsp;&nbsp;&nbsp;</em></strong
              ><strong
                ><em>Id. 00000035&nbsp;&nbsp;&nbsp; se va introduce nr. 35</em></strong
              ></span
            >
          </h3>
          <ul>
            <li>
              <h3>
                <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
                  >CNP (Personal code/<span
                    style="
                      background-image: initial;
                      background-position: initial;
                      background-repeat: initial;
                      background-attachment: initial;
                    "
                    >National Identification Number</span
                  >) al deținătorului de&nbsp;“<strong>CARD&nbsp;Student TFC</strong
                  >”.</span
                >
              </h3>
            </li>
          </ul>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >În cazul pierderii/furtului unei legitimații de autentificare și
              identificare, titularul poate solicita la orice ghișeu TFC o nouă
              legitimație&nbsp;“ID Student TFC”. Emiterea pentru același utilizator a
              unei noi legitimații de autentificare și identificare va avea ca efect
              anularea în sistem a legitimației inițiale, declarată ca
              pierdută/sustrasă, nemaiputând fi utilizată.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              ><strong
                ><em
                  >În cazul cererii multiple, efectuată printr-o singură tranzacție,
                  pentru un număr de maxim 6 studenți,</em
                ></strong
              >&nbsp;la achiziționarea biletelor prin sistem online/automate de vânzare
              se va introduce pentru fiecare utilizator în
              parte:&nbsp;număr&nbsp;<strong>Id.</strong>&nbsp;(de pe legitimația de
              autentificare și identificare) și&nbsp;<strong>CNP.</strong></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span style="font-size: 14pt; font-family: arial, helvetica, sans-serif"
              >Numele și prenumele, nr. legitimației de student, înscrise pe biletul TFC
              online, trebuie să corespundă cu cele înscrise în documentele prezentate
              în tren. Nr. legitimației de student înscrisă pe
              biletul-&nbsp;<em>kiosk,&nbsp;</em>trebuie să corespundă cu cele înscrise
              în documentele prezentate în tren.</span
            >
          </h3>
          <h3 style="margin-bottom: 0.0001pt; text-align: justify; line-height: normal">
            <span style="font-size: 14pt; font-family: arial, helvetica, sans-serif"
              >Pentru achiziţionarea de legitimaţii de călătorie, studenţii poartă
              responsabilitatea documentelor prezentate, cât şi a datelor declarate în
              sistemul de achiziţionare on-line/automate de vânzare.</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >Legitimația de călătorie gratuită/redusa pentru studenți (biletul) este
              valabilă numai însoțită de&nbsp;legitimaţia de student pentru
              reducere/gratuitate la transport<strong
                >,&nbsp;vizată la zi pentru anul universitar în curs&nbsp;</strong
              >și un act de identitate&nbsp;(carte de identitate sau paşaport).</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif; font-size: 14pt"
              >La verificarea legalităţii călătoriei&nbsp;în tren, studentul va
              prezenta&nbsp;<em>legitimaţia de călătorie (biletul),&nbsp;</em
              >legitimaţia de student pentru reducere/gratuitate la transport vizată
              pentru anul universitar în curs&nbsp;și un act de identitate. Studenții
              care nu prezintă documentele solicitate<strong
                ><em>&nbsp;vor fi consideraţi ca fiind fără legitimaţie de călătorie</em
                >&nbsp;și&nbsp;<em
                  >vor fi tarifați la tariful majorat de taxare în tren.</em
                ></strong
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span style="font-family: arial, helvetica, sans-serif">&nbsp;</span>
          </h3>
          <h3 style="text-align: center">
            <span
              style="
                font-size: 18pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong
                >Reglementări privind admiterea și excluderea de la transport</strong
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >Extrase din:</span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              >•
              <em
                >Regulamentul privind transportul pe căile ferate din România (RT),
                aprobat prin O.G. nr. 7/2005, republicată,</em
              ></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >• Normele uniforme privind transporturile pe căile ferate din România
                (NUC), aprobate prin OMT nr. 655/2007, cu modificările şi completările
                ulterioare,</em
              ></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >• Reglementările Proprii ale S.C. Transferoviar Călători (RP TFC),</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span style="font-family: arial, helvetica, sans-serif"
              ><span style="font-size: 14pt"
                ><em><strong>RT: ARTICOLUL 9</strong></em></span
              ><span style="font-size: 14pt; color: #000000"
                ><em>
                  Admiterea la transport. Persoane excluse de la transport. Admiterea
                  condiţionat</em
                ></span
              ></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >(1) Sunt admişi la transport călătorii care posedă legitimaţii de
                călătorie valabile la trenul, ruta şi clasa alese pentru călătorie.</em
              ></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >(2) Sunt excluşi de la transport călătorii care nu respectă prezentul
                regulament şi dispoziţiile operatorului de transport feroviar, făcute
                publice.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong>Norme Uniforme Călători 9<sup>1</sup></strong></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Operatorii de transport feroviar de călători pot stabili prin
                reglementări proprii alte modalităţi de admitere la transport a
                călătorilor.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong>Norme Uniforme Călători 10</strong></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Călătorul fără legitimaţie de călătorie care refuză plata imediată a
                tarifelor de taxare în tren este exclus de la transport, fiind coborât
                în prima staţie de cale ferată în care trenul are oprire itinerarică,
                întocmindu-i-se proces-verbal de contravenţie pentru distanţa deja
                parcursă.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong>RP TFC la NUC 9<sup>1</sup></strong
              >:
              <em
                >Prin legitimație de călătorie „valabilă” se înțelege legitimația de
                călătorie care este emisă cu valabilitate pe relația, clasa, trenul și
                data efectuării călătoriei, în conformitate cu prevederile din
                prezentele Reglementări.</em
              ></span
            ><br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Sunt admişi la transport, cu trenurile aparţinând S.C. Transferoviar
                Călători SRL, călătorii care posedă legitimaţii de călătorie, valabile
                la trenul, pe relaţia şi data efectuării călătoriei.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Călătorul care nu prezintă în tren o legitimaţie de călătorie valabilă
                este supus la plata tarifelor de transport, eventual la plata
                diferenţelor la nivelul tarifului de taxare în tren, potrivit
                prevederilor din prezentele Reglementări, achitarea sumelor făcându-se
                la personalul de tren.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Călătorii care nu prezintă în tren o legitimație valabilă, și nu au
                solicitat-o din timp personalului de tren, imediat după urcarea în tren,
                vor achita tariful de taxare în tren, la rangul și pentru toată distanța
                de circulație a trenului respectiv(distanța prevăzută în Mersul
                trenurilor de călători, publicat şi afişat). Beneficiarii de facilități
                pe calea ferată română îți pierd dreptul la reducere și vor fi tratați
                ca orice alt călător, în acest caz.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Călătorul este obligat să păstreze legitimaţia de călătorie asupra sa
                în tot timpul călătoriei şi să o prezinte pentru verificare, la cerere,
                angajaților împuterniciți în acest scop.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><strong>RP TFC la NUC 10</strong>:<em>
                Călătorul fără legitimaţie de călătorie care refuză plata imediată a
                tarifelor de taxare în tren este exclus de la transport, fiind coborât
                în prima staţie de cale ferată, cu sau fără oprire itinerarică în
                parcursul trenului. În acest caz, călătorul va achita biletul pentru
                distanța parcursă până în acel moment la tariful de taxare în tren.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                font-size: 14pt;
                color: #000000;
                font-family: arial, helvetica, sans-serif;
              "
              ><em
                >Personalul TFC nu este autorizat să emită proces-verbal de
                contravenție. În cazuri speciale acesta poate solicita intervenția
                organelor de poliție TF pentru identificarea contravenienților din tren,
                caz în care se vor urma procedurile legale stabilite de organele
                competente în acest sens.</em
              ></span
            >
          </h3>
          <h3 style="text-align: justify">
            <br /><span
              style="
                color: #000000;
                font-family: arial, helvetica, sans-serif;
                font-size: 12pt;
              "
              ><em
                >Persoanele excluse de la transport nu au dreptul la restituirea
                contravalorii călătoriei.</em
              ></span
            >
          </h3>
        </div>
        
        <hr />
</article>
